<?xml version="1.0" encoding="utf-8"?>
<sml SdkVersion="2.4.89" Modified="2012-09-22T10:39:51" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.suunto.com/schemas/sml">
	<DeviceLog>
		<Header>
			<PeriodicInterval>1</PeriodicInterval>
			<Duration>2407</Duration>
			<RecoveryTime>0</RecoveryTime>
			<Speed>
				<Avg>3.1499999999999999</Avg>
				<Max>5.1694444444444443</Max>
			</Speed>
			<ActivityType>1</ActivityType>
			<Activity>GPS Track POD 1</Activity>
			<Distance>7584</Distance>
			<LogItemCount>4819</LogItemCount>
			<DateTime>2021-03-06T13:37:07</DateTime>
		</Header>
		<Device>
			<Name>Suunto GPS Track POD</Name>
			<SerialNumber>8761994629000D00</SerialNumber>
			<Info>
				<SW>1.6.39</SW>
				<HW>66.2.0</HW>
				<BSL>1.4.3</BSL>
			</Info>
		</Device>
		<Samples>
			<Sample>
				<VerticalSpeed>0</VerticalSpeed>
				<Distance>0</Distance>
				<Speed>1.3400000000000001</Speed>
				<Time>0.0040000000000000001</Time>
				<SampleType>periodic</SampleType>
				<UTC>2021-03-06T12:37:07.004Z</UTC>
			</Sample>
			<Sample>
				<VerticalSpeed>0</VerticalSpeed>
				<Distance>0</Distance>
				<Speed>1.3800000000000001</Speed>
				<Time>0.77400000000000002</Time>
				<SampleType>periodic</SampleType>
				<UTC>2021-03-06T12:37:07.774Z</UTC>
			</Sample>
			<Sample>
				<Latitude>0.87349020163994306</Latitude>
				<Longitude>0.2517411321143932</Longitude>
				<GPSAltitude>232</GPSAltitude>
				<GPSHeading>0.93985980219894649</GPSHeading>
				<EHPE>14</EHPE>
				<Time>1</Time>
				<UTC>2021-03-06T12:37:08Z</UTC>
			</Sample>
			<Sample>
				<VerticalSpeed>0</VerticalSpeed>
				<Distance>0</Distance>
				<Speed>1.4000000000000001</Speed>
				<Time>1.762</Time>
				<SampleType>periodic</SampleType>
				<UTC>2021-03-06T12:37:08.762Z</UTC>
			</Sample>
			<Sample>
				<Latitude>0.87349035697424648</Latitude>
				<Longitude>0.25174146721760959</Longitude>
				<GPSAltitude>233</GPSAltitude>
				<GPSHeading>0.88400926613512776</GPSHeading>
				<EHPE>13</EHPE>
				<Time>2</Time>
				<UTC>2021-03-06T12:37:09Z</UTC>
			</Sample>
			<Sample>
				<VerticalSpeed>0</VerticalSpeed>
				<Distance>0</Distance>
				<Speed>1.4399999999999999</Speed>
				<Time>2.774</Time>
				<SampleType>periodic</SampleType>
				<UTC>2021-03-06T12:37:09.774Z</UTC>
			</Sample>
			<Sample>
				<Latitude>0.87349057688573228</Latitude>
				<Longitude>0.25174176566891171</Longitude>
				<GPSAltitude>232</GPSAltitude>
				<GPSHeading>0.89308497824549848</GPSHeading>
				<EHPE>13</EHPE>
				<Time>3</Time>
				<UTC>2021-03-06T12:37:10Z</UTC>
			</Sample>
			<Sample>
				<VerticalSpeed>0</VerticalSpeed>
				<Distance>7584</Distance>
				<Speed>1.4000000000000001</Speed>
				<Time>2406.3690000000001</Time>
				<SampleType>periodic</SampleType>
				<UTC>2021-03-06T13:17:13.369Z</UTC>
			</Sample>
		</Samples>
	</DeviceLog>
</sml>
